body {
  /* background: #F7F8F8;
  background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);
  background: linear-gradient(to right, #ACBB78, #F7F8F8);  */
  background: #e5f2f4;
  /* font-family: 'Oxygen', sans-serif; */
  font-family: 'IBM Plex Sans',ibm-plex-sans,'Helvetica Neue',Arial,sans-serif;
  line-height: 20px;
  color: rgb(38, 37, 82);
}

h1 {
  font-weight: 900;
  font-size: 28px;
  color:#e5f2f4;
}

h3 {
  font-weight: light;
  font-size: 14px;
  color: rgb(38, 37, 82);
  line-height: 15px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

p {
  /* font-family: 'Noto Serif Khojki', serif; */
  font-family: Roboto,sans-serif;
  color: rgba(8, 7, 7, 0.77);
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 40px;
}

h2 {
  font-size: 18px;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  color: rgb(38, 37, 82);
}

#btn-red {
  margin-top: 40px;
  text-decoration: none;
  color:#BE0000;
  font-size: 14px;
  font-weight: bold;
  background-color: #e5f2f4;
  padding: 15px 20px;
  border-radius: 4px;
}

#btn-red:hover {
  margin-top: 40px;
  text-decoration: none;
  color:#e5f2f4;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(44, 43, 88);
  padding: 15px 20px;
  border-radius: 4px;
}

ul a {
  font-size: 26px;
  line-height: 1.3;
  text-align: left;
  color: rgb(38, 37, 82);
}

.container {
  padding: 10px;
  margin: 0 auto;
  width: 700px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 15px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 15px;
  }
}


.card {
  text-align: center;
  margin: 20px 0px;
  padding: 30px;
  border-radius: 5px;
  background: #008392;
  box-shadow: 0px 1px 4px #E7E9BB;
}

.list-inline {
  list-style: none;
  list-style-position: outside;
  list-style-type: none;
  padding-left: 0px;
  display: inline;
}

.list-inline > li {
  display: inline-block;
  padding: 0 5px;
}
